body {
    font-family: sans-serif;
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
}
.flexColumn {
    flex-direction: column;
}
.infoCardText{
    text-transform: capitalize;
    max-width: 800px;
    margin: 0 auto;
}
.infoCardText > div{
    margin-bottom: 15px;
}
.textMovie{
    font-weight: 500;
}
.textMovie p{
    font-size: 20px;
}
.linkHome a{
    text-decoration: none;
    background: black;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
}
.linkHome a:hover{
    background: red;
}
.splide__arrow svg {
    fill: red !important;
}
.splide__pagination__page.is-active {
    background: red !important;
}
.splide__pagination {
    bottom: 0em !important;
}
.card {
    width: 25%;
    box-sizing: border-box;
    margin: 3%;
}
.card .genreLink {
    padding: 3px 8px;
    margin: 5px;
}
.cardImg a img{
    width: 100%;
    height: auto;
    display: block;
}
.textMovie{
    display: flex;
    flex-direction: column;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.pagination-num {
    font-size: 22px;
    background: #3E5C9A;
    color: white;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    border-radius: 50%;
}

.genreLink {
    text-decoration: none;
    background: black;
    color: white;
    padding: 10px 20px;
    margin: 10px;
    display: block;
}

.genreLink:hover {
    background: red;
}
.sliderPosters{
    width: 1000px;
    padding: 20px 0 50px;
    margin: 0 auto;
    /*display: flex;*/
    /*justify-content: center;*/
}
.wrapper h1{
    text-align: center;
    width: 100%;
}
header.header, footer.footer{
    background: black;
}
footer.footer{
    margin-top: 50px;
}
header.header a, footer.footer a{
    color: white;
}
header.header form, header.header input{
    width: 100%;
    display: flex;
    align-items: center;
    margin: 10px;
}
header.header input{
    height: 40px;
    padding: 5px;
    font-size: 22px;
}
.cardBangWrapper{
    position: absolute;
    top: -5px;
    right: -30px;
}
.cardImg{
    position: relative;
}
.cardMore a{
    color: red;
    text-decoration: none;
    margin-top: 15px;
    display: block;
}

