@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}
ul, li{
    padding: 0;
    margin: 0;
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
    padding: 0 15px;
}
.flexColumn {
    flex-direction: column;
}
.d-flex{
    display: flex;
}
.j-c-center{
    justify-content: center;
}
.infoCardText{
    text-transform: capitalize;
    max-width: 800px;
    margin: 0 auto;
}
.infoCardText > div{
    margin-bottom: 15px;
}
.textMovie{
    font-weight: 500;
}
.textMovie p{
    font-size: 20px;
}
.linkHome a{
    text-decoration: none;
    background: black;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
}
.linkHome a:hover{
    background: red;
}
.splide__arrow svg {
    fill: red !important;
}
.splide__pagination__page.is-active {
    background: red !important;
}
.splide__pagination {
    bottom: 0em !important;
}
.card {
    width: 25%;
    box-sizing: border-box;
    margin: 3%;
    background: white;
    padding: 12px 12px;
}
.card .genreLink {
    padding: 3px 8px;
    margin: 5px;
    text-transform: uppercase;
    font-size: 14px;
}
.cardImg a img{
    width: 100%;
    height: auto;
    display: block;
}
.textMovie{
    display: flex;
    flex-direction: column;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.pagination-num {
    font-size: 22px;
    background: black;
    color: white;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 40px;
    border-radius: 50%;
}

.genreLink {
    text-decoration: none;
    background: black;
    color: white;
    padding: 10px 20px;
    margin: 10px;
    display: block;
    text-transform: uppercase;
}

.genreLink:hover {
    background: red;
}
.sliderPosters{
    width: 1000px;
    padding: 20px 0 50px;
    margin: 0 auto;
}
.wrapper h1{
    text-align: center;
    width: 100%;
    text-transform: uppercase;
    font-size: 30px;
    margin-top: 50px;
}
header.header, footer.footer{
    background: black;
    padding: 10px 0;

}
footer.footer{
    margin-top: 50px;
}
header.header a, footer.footer a{
    color: white;
}
header.header form, header.header input{
    width: 100%;
    display: flex;
    align-items: center;
    margin: 10px;
}
header.header input{
    height: 40px;
    padding: 5px;
    font-size: 22px;
}
.cardBangWrapper{
    position: absolute;
    top: -5px;
    right: -50px;
}
.cardImg{
    position: relative;
}
.cardMore a{
    color: red;
    text-decoration: none;
    margin-top: 15px;
    display: block;
}
.splide__pagination__page:hover {
    background: #000000!important;
}
.infoCardText .cardBanges a{
    margin-left: 0;
}
h2{
    margin-top: 70px;
}
.card h2{
    margin-top: 30px;
}
.pagination button{
    background: black;
    color: white;
    border: navajowhite;
    padding: 10px 15px;
}
.pagination button:hover{
    background: red;
}
.pagination button:disabled{
    background: gray;
}
.cardInfo div span:first-child,
.infoTextWrapper div span:first-child{
    font-weight: 600;
    text-transform: capitalize;
}
.infoTextWrapper div{
    margin: 20px 0;
}
header.header form a{
    text-decoration: none;
    background: red;
    padding: 14px;
}
header.header form a:hover{
    background: white;
    color: black;
}
.wrapperGenre{
    display: flex;
}

